<div id="_infoWindow" class="skywaycesium-popup skywaycesium-popup-hide">
    <div class="skywaycesium-popup-title">
        <a class="skywaycesium-popup-close-button" href="#close" title="关闭"><i class="fa fa-close" aria-hidden="true"></i></a>
        <!-- <a class="skywaycesium-popup-max-button" href="#max"><i class="fa fa-window-maximize" aria-hidden="true"></i></a> -->
    </div>
    <div class="skywaycesium-popup-content-wrapper">
        <div class="skywaycesium-popup-content"></div>
    </div>
    <div class="skywaycesium-popup-tip"></div>
</div>